html {
  background-color: #e8e8e8;
  font-family: Verdana, Helvetica;
  scroll-behavior: smooth;
}

body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  color: #062024;
  white-space: pre-wrap;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px;
  font-weight:300;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100; */
}
